<div class="o-modal-tampao js-modal-tampao">
  <div class="u-centralize-content">
    <div class="o-modal-tampao__video-content">
      <img src="./tampao-assets/images/levante-splash.gif" alt="Logo Levante">
    </div>
    <div class="o-modal-tampao__body">
      <div class="c-brand__content">
        <img class="c-brand" src="./tampao-assets/images/logotipo.png" alt="Logo Levante">
      </div>

      <div class="c-text-content">
        <h1 class="c-title">
          <div class="c-title__pre">Bem vindo à soma</div>
          de dois universos
        </h1>

        <p>
            Olá! Se você veio até aqui procurando pela 42i, saiba que ainda estamos aqui. Só que crescemos para conseguir produzir digital + motion sob um mesmo teto.
        </p>

        <p>Se quiser ver as coisas novas que estão rolando, siga a gente no <a class="js-facebook-link" href="https://www.facebook.com/levanteprodutoradigital/" target="_blank">Facebook</a> e <a class="js-instagram-link" href="https://www.instagram.com/levante.cx/" target="_blank">Instagram</a>. E se quiser marcar um papo com a gente, é só escrever para <a class="js-email-link" href="mailto:ola@levante.cx">ola@levante.cx</a></p>

        <p>
          Enquanto a nossa nova casa vai ficando pronta, você ainda pode conferir nossos trabalhos como produtora digital aqui mesmo!
        </p>

        <a class="c-btn-continuar js-continuar" href="#">Continuar</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var mosdalEl = document.querySelector('.js-modal-tampao');
    var facebookLink = document.querySelector('.js-facebook-link');
    var instagramLink = document.querySelector('.js-instagram-link');
    var emailLink = document.querySelector('.js-email-link');
    var mosdalTrigger = document.querySelector('.js-continuar');

    function closeModal(e) {
      e.preventDefault();
      ga('send', 'event', 'Link', 'click', 'Tampão click no continuar, site 42i');

      if (mosdalEl.classList.contains('o-modal-tampao--active')) {
        // The box that we clicked has a class of bad so let's remove it and add the good class
       mosdalEl.classList.remove('o-modal-tampao--active');
       document.querySelector('body').style.overflowY = 'auto';
      }
    }

    mosdalTrigger.addEventListener("click", closeModal);

    function handleOutboundLinkClicksFacebook(event) {
      console.log('facebook link');
      ga('send', 'event', 'Link', 'click', 'Tampão click no link do facebook, site 42i');
    }

    facebookLink.addEventListener("click", handleOutboundLinkClicksFacebook);

    function handleOutboundLinkClicksInstagram(event) {
      console.log('instagram link');
      ga('send', 'event', 'Link', 'click', 'Tampão click no link do instagram, site 42i');
    }

    instagramLink.addEventListener("click", handleOutboundLinkClicksInstagram);

    function handleOutboundLinkClicksEmail(event) {
      console.log('email link');
      ga('send', 'event', 'Link', 'click', 'Tampão click no link de email, site 42i');
    }

    emailLink.addEventListener("click", handleOutboundLinkClicksEmail);

    (function checkSeen() {
      // sessionStorage.removeItem("seen");
      if (!sessionStorage.getItem("seen")) {
        setTimeout(function(){
          console.log(window.innerWidth);
          document.querySelector('body').style.overflow = 'hidden';

          window.onload = mosdalEl.classList.add('o-modal-tampao--active');
          sessionStorage.setItem("seen", true);
        }, 800);
      }
    })();

  })();
</script>

<header class="header js-header">
  <div class="header__menu">

    {% assign links = site.posts | where:"lang", page.lang | where:"type", "pages" | sort: 'weight' %}

    <ul class="js-header__list header__list">
      <li class="header__item">
        <a class="js-header__brand header__brand" href="{{ site.url }}" title="{{ site.data.strings.title }}">{% include _svg/brand-neg.svg %}</a>
      </li>

      {% for menu in site.data.navigation[page.lang] %}
        {% if menu[1].title != '42i' %}
          <li class="js-header__list header__item">
            <a class="js-header__link header__link" href="{{ site.url }}{{ menu[1].title | slugify }}" title="{{ menu[1].title }}">{{ menu[1].title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="js-header__list header__list header__list--right">
      <!--
      <div class="languages">
        {% assign language = site.posts | where:"name", page.name | sort: 'path' %}

        {% for post in language %}
        <li class="header__item">
          <a class="js-header__link header__link languages__link languages__link--{{ post.lang }}" href="{{ post.url }}">{{ post.lang }}</a>
        </li>
        {% endfor %}
      </div>
      -->

      <li class="header__item">
        <a class="js-header__link header__link header__icon icon icon--github3" href="{{ site.data.strings.github }}" target='_blank' ></a>
      </li>

      <li class="header__item">
        <a class="js-header__link header__link header__icon icon icon--facebook" href="{{ site.data.strings.facebook }}" target='_blank' ></a>
      </li>
    </ul>
  </div>
</header>
