<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{ site.data.strings.title }} {% else %}{{ site.data.strings[page.lang].title }}{% endif %}</title>
    <meta name="description" content="{{ site.data.strings[page.lang].description }}">
    <meta name="google-site-verification" content="Q1VNCeOBxKjVPXLWR8YdQ6MBQmv2it9TikiFO0afnVI" />

    <meta property="og:image" content="http://42i.com.br/public/images/42ipintado.jpg"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.data.strings.title }} {% else %}{{ site.data.strings[page.lang].title }}{% endif %}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:site_name" content="42i - Produtora Digital Independente"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ site.data.strings[page.lang].description }}"/>
    <meta property="og:locale" content="pt_BR" />

    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: '{{ site.typekit_id }}',
          scriptTimeout: 3000
},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="{{ 'css/main.css' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ 'css/levante-modal.css' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2846723666169974",
      enable_page_level_ads: true
    });
  </script>
</head>
