// contextual variables
$-footer-height: 75px;

.footer {
    text-align: center;

    position: absolute;
    width: 100%;
    height: $-footer-height;
    margin: 0;
    padding: 25px;
    bottom: 0;
    left: 0;

    background: $c-white;
    border-top: 2px solid $c-yellow-l2;

    &__brand {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
        margin: 0 auto;

        path { fill: $c-yellow; }
    }

    &__list {
        list-style-type: none;

        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        margin: 0 10px 0 0;
        vertical-align: middle;

        &:last-child { margin: 0; }
    }

    &__item-link {
        color: $c-yellow-l1;
    }

    &__icon {
        font-size: 22px;
    }

    &__languages {
        font-family: $ff-heading;
        text-transform: uppercase;

        display: inline-block;

        &__item-link {
            margin: 0 5px 0 0;

            &--en:lang(en),
            &--pt-br:lang(pt-br){ color: $c-yellow; }
        }
    }
}

//sticky-footer
.page-wrapper { margin-bottom: $-footer-height; }

@media (min-width: $media-query-tablet) {
    .footer {
        &__brand { float: none; }

        &__list { display: none; }
    }
}
