$header-cont-height: 48px;
$header-cont-height-comp: 36px;

.header {
	font-family: $ff-heading;
	position: fixed;
	display: block;
	width: 100%;
	padding: 15px;

	box-shadow: 0 5px 0 $c-shadow-l2;
	background: $c-white;
	z-index: $z-mid-front;
	transition: padding $anim-bounce 0.25s,
							background ease 0.5s,
							box-shadow ease 0.25s;

	@include clearfix();

	&__list {
		list-style-type: none;
		line-height: $header-cont-height;

		display: inline-block;
		float: left;
		height: $header-cont-height;
		margin: 0;
    padding: 0;
		transition: height $anim-bounce 0.25s,
								line-height $anim-bounce 0.25s;

		&--right {
			display: none;
			float: right;
		}
	}

	&__item {
		display: inline-block;
		float: left;

		@include clearfix();
	}

	&__link {
		font-size: 14px;
		font-family: $ff-heading;
		font-weight: $fw-bold;
		text-transform: uppercase;
		line-height: $header-cont-height;
		letter-spacing: 0.0125em;

		display: block;
		height: $header-cont-height;
		padding: 0 0 0 10px;

		color: $c-yellow-l1;
		transition: height $anim-bounce 0.25s,
								color ease 0.25s,
								line-height $anim-bounce 0.25s;

		&:hover { color: $c-yellow; }

		&--active {
			color: $c-yellow;

			&:hover { color: $c-yellow-l1; }
		}
	}

	&__brand {
		display: inline-block;
		width: $header-cont-height;
		height: $header-cont-height;
		margin: 0;
		padding: 8px;

		fill: $c-white;
		background: $c-yellow;
		transition: width $anim-bounce 0.25s,
								height $anim-bounce 0.25s,
								padding $anim-bounce 0.25s;
	}

	&__icon {
		font-size: $fs-icon-big !important;

		margin: 0 $gutter/6;
		}
}

.languages {
	display: inline-block;
	float: left;

	&__link {
		text-transform: uppercase;

		display: block;

		color: $c-yellow-l1;

		&--en:lang(en),
		&--pt-br:lang(pt-br){ color: $c-yellow; }
	}
}

@media (min-width: $media-query-tablet) {
	.header {
		background: $c-light-l2;
		box-shadow: 0 0 transparent;

		&__list--right { display: inline-block; }

		&__link { font-size: $fs-text-small; }

		&__brand--compressed {
			width: $header-cont-height-comp;
			height: $header-cont-height-comp;
			padding: 6px;
		}

		&__list--compressed {
			line-height: $header-cont-height-comp;

			height: $header-cont-height-comp;
		}

		&__link--compressed {
			line-height: $header-cont-height-comp;

			height: $header-cont-height-comp;
		}

		&--compressed {
			padding: 10px 15px;

			background: $c-white;
			box-shadow: 0 5px 0 $c-shadow-l2;
		}
	}
}
