.main-header {
	position: fixed;
	display: block;
	width: 100%;

	box-shadow: 0 10px 10px transparent;
	background: $c-white;
	z-index: 1050;
	transition: $anim-bounce 0.5s;

	&__menu {

	}

	&__list {
		list-style-type: none;

		display: inline-block;
		margin: 0;
        padding: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: bottom;
	}

	&__right {
		display: inline;
		float: right;
	}

    &__item-link {
        border: 2px solid #ffcf75;
        width: 100%;
        line-height: 1.5;
        display: inline-block;
    }

    &__content {
        border: 0px;

        margin: 0;

        background: $c-white;
    }

	&__language--en,
    &__language--pt-br { color: $c-yellow; }

	&--compressed {
		box-shadow: 0 5px 0 $c-shadow-l2;

		//.header-link { font-size: 20px; }
	}
}



.brand-link {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 8px;

	background: $c-yellow;
	transition: $anim-bounce 0.5s ;
}

.brand { fill: $c-white; }


//footer

.body { margin: 0 0 150px; }

.main-footer {
    text-align: center;

    position: absolute;
    width: 100%;
    height: 75px;
    margin-top: 50px;
    padding: 25px 0;
    left: 0;
    bottom: 0;

    background: $c-white;
    border-top: 2px solid $c-yellow-l2;

    .brand {
        width: 24px;
        height: 24px;

        path { fill: $c-yellow; }
    }
}


@media (min-width: $screen-tablet) {
    .main-header {
        padding: 20px;

        .header-link {
            border: 0px solid #ffcf75;
            width: auto;
            line-height: 1;
            display: inline-block;
        }

        .navbar-collapse {
            ul {
                .brand-link {
                    margin: 0 15px 0 0;
                    display: block;
                }

                li {
                    text-align: left;
                    line-height: 1;

                    display: inline-block;
					vertical-align: middle;
                }
            }
        }
    }
}
