.home-cover {
	position: relative;
	display: block;
	width: 100%;

	overflow: hidden;

	&__aligner {
		text-align: center;

		position: absolute;
		display: block;
		width: 100%;
		padding: 0 30px;
		top: 35%;

		z-index: 10;
	}

	&__title {
		font-size: 28px;
		line-height: 32px;

		margin: 0;

		color: $c-white;
		text-shadow: -3px 3px 0 $c-shadow-l1;

		&--lowercase {
			font-family: $ff-heading;
			text-transform: lowercase;
		}
	}

	&__subtitle {
		font-size: 24px;
		font-family: $ff-text;
		font-style: italic;

		margin: 0;

		color: $c-white;
		text-shadow: -2px 2px 0 $c-shadow-l1;
	}

	&__image-clipper {
		text-align: center;

		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
	}

	&__image {
		position: relative;
		display: block;
		min-width: 100%;
		height: 100%;
	}
}

@media (min-width: $media-query-tablet) {
	.home-cover {
		&__aligner {
			padding: 0 10%;
			top: 42%;
		}

		&__title {
			font-size: 48px;

			line-height: 48px;
		}

		&__subtitle { font-size: 24px; }

		&__image {
			position: fixed;
			min-width: 100%;
			min-height: 100%;
			top: 50%;
	        left: 50%;

	        transform: translate(-50%, -50%);
		}
	}
}
