
.home-links.front-page {
    text-align: left;

    padding: 50px 80px;
}

.brand-frame {
    display: block;
    width: 135px;
    height: 135px;
    margin-top: 80px;
    padding: 15px;

    background: $c-yellow;

    .brand { fill: $c-white; }

    .iconic-injected-svg {
        width: 100%;
        height: auto;
    }
}

.link-sub-1 { transition: $anim-bounce 0.35s 0.3s; }
.link-sub-2 { transition: $anim-bounce 0.35s 0.2s; }
.link-sub-3 { transition: $anim-bounce 0.35s 0.1s; }

.link-title {
    font-family: $font-family-heading;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.05em;
}

.link-subtitles {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: left;

    transition: 0.75s;
}

.home-links { margin-top: 16px; }


@media (min-width: $screen-tablet) {
    .home-links {
        position: relative;
        width: auto;
        margin: 120px auto 100px;
    }

    .big-link {
        position: relative;
        display: block;
        width: auto;

        transform: translateX(0);
        transition: 0.15s;
        padding-bottom: 1.2em;

        .link-title {
            margin-bottom: -34px;
            padding-bottom: 30px;
        }

        .link-subtitles { height: 30px; }

        text-decoration: none;

        .link-title {
            letter-spacing: -0.05em;

            padding-right: 5px;
            margin-left: -10px;
            margin-bottom: -34px;
            padding-bottom: 30px;

            color: $c-yellow;
        }

        .link-subtitles { height: 30px; }

        .link-sub-1,
        .link-sub-2,
        .link-sub-3 { opacity: 1; }

        .link-sub-1 { transition: $anim-bounce 0.35s 0.1s; }
        .link-sub-2 { transition: $anim-bounce 0.35s 0.2s; }
        .link-sub-3 { transition: $anim-bounce 0.35s 0.3s; }
    }

    .link-title {
        font-family: $font-family-heading;
        font-size: 100px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 0.78;
        letter-spacing: -0.05em;

        position: relative;
        display: inline-block;
        margin: 0 0 10px -15px;
        padding-left: 0px;

        overflow: hidden;
        color: $c-yellow-l1;
        border-left: 7px solid transparent;

        transform: translateX(0);
        transition: $anim-bounce 0.5s;
    }

    .link-subtitles {
        font-family: $font-family-sans-serif;
        font-size: 28px;
        font-weight: 300;
        font-style: italic;
        text-align: left;

        position: relative;
        height: 0px;
        width: 100%;
        bottom: 0px;

        transition: 0.75s;
    }

    .link-sub-1,
    .link-sub-2,
    .link-sub-3 {
        position: relative;
        display: inline-block;

        color: $c-yellow-l1;

        transform: translateX(-0%);
        opacity: 0;
    }
}

@media (min-width: $screen-desktop) {
    .big-link {
        position: relative;
        display: block;
        width: auto;

        transform: translateX(0);
        transition: 0.15s;
        padding-bottom: 1.2em;

        .link-title {
            margin-bottom: -34px;
            padding-bottom: 30px;
        }

        .link-subtitles { height: 30px; }

        .link-sub-1,
        .link-sub-2,
        .link-sub-3 { opacity: 0; }

        &:hover {
            text-decoration: none;

            .link-title {
                letter-spacing: 0;

                padding-left: 15px;
                padding-right: 5px;
                margin-left: -10px;
                margin-bottom: -34px;
                padding-bottom: 30px;

                color: $c-yellow;
                border-left: 7px solid $c-yellow-l1;

                transform: translateX(10px);
            }

            .link-subtitles { height: 30px; }

            .link-sub-1,
            .link-sub-2,
            .link-sub-3 { opacity: 1; }

            .link-sub-1 { transition: $anim-bounce 0.35s 0.1s; }
            .link-sub-2 { transition: $anim-bounce 0.35s 0.2s; }
            .link-sub-3 { transition: $anim-bounce 0.35s 0.3s; }
        }
    }

    .link-title {
        font-family: $font-family-heading;
        font-size: 100px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 0.68;
        letter-spacing: -0.05em;

        position: relative;
        display: inline-block;
        margin: 0 0 10px -15px;
        padding-left: 0px;

        overflow: hidden;
        color: $c-yellow-l1;
        border-left: 7px solid transparent;

        transform: translateX(0);
        transition: $anim-bounce 0.5s;
    }

    .link-subtitles {
        font-family: $font-family-sans-serif;
        font-size: 28px;
        font-weight: 300;
        font-style: italic;
        text-align: left;

        position: relative;
        height: 0px;
        width: 100%;
        bottom: 0px;

        transition: 0.75s;
    }

    .link-sub-1,
    .link-sub-2,
    .link-sub-3 {
        position: relative;
        display: inline-block;
        left: 24px;

        color: $c-yellow-l1;

        transform: translateX(-0%);
        opacity: 0;
    }
}
