.projects {
    &__list {
        padding: 0;
    }
}

.project-card {
    margin: 0 0 30px;
    padding: 0 0 30px;

    border-bottom: 2px solid $c-yellow-l2;

    &:last-child {
        margin: 0 0 50px;
        padding: 0;

        border-bottom: none;
    }

    &:first-child { margin-top: 100px; }

    &__capsule {
        text-align: center;

        position: relative;
        display:  block;
        height: 175px;
        margin: 0;
        padding: 0;

        overflow: hidden;
        transition: $anim-bounce 0.25s 0.1s;
    }

    &__title {
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0;

        position: relative;
        display: block;
        margin: 10px 0 10px;

        color: $c-black;
        transform: translate3d(0, 0, 0);
        transition: $anim-bounce 0.25s;
    }

    &__subtitle {
        font-size: 18px;
        font-family: $font-family-sans-serif;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 0.025em;

        position: relative;
        display: block;
        margin: 0;

        color: $c-gray;
        transform: translate3d(0, 0, 0);
        transition: $anim-bounce 0.25s;
    }

    &__icon-group {
        display: block;
        height: auto;
        margin-top: 25px;

        transition: ease 0.25s;
    }

    &__icon {
        font-size: 24px;

        position: relative;
        display: inline-block;
        margin: 0 3px;

        color: $c-yellow;
        transform: translate3d(0, 0, 0);

        &--1 { transition: ease 0.15s 0.1s; }
        &--2 { transition: ease 0.15s 0.15s; }
        &--3 { transition: ease 0.15s 0.2s; }
    }

    &__cover {
        position: relative;
        display: block;
        height: 100%;
        padding: 0px;

        background: $c-white;
    }

    &__info {
        position: relative;
        display: block;
        height: 100%;
        padding: 0px;

        z-index: 300;
        transition: ease 0.25s;
    }

    &__bg {
        position: absolute;
        display: block;
        width: 100%;
        height: 175px;
        margin: 0;
        top: 0;
        left: 0;

        z-index: 100;
    }

    &__frame {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;

        opacity: 0.9;
        background: $c-white;
        transition: ease 0.25s;
    }

    &__frame-image {
        width: 100%;
        height: auto;
    }
}

@media (min-width: $screen-tablet) {
    .project-card {
        &__capsule { height: 220px; }

        &__bg { height: 220px; }

        &__title { font-size: 46px; }

        &__subtitle { font-size: 18px; }

        &__info { padding: 10px; }

        &__cover { padding: 20px; }
    }
}

@media (min-width: $screen-desktop) {
    .project-card {
        &:hover {
            text-decoration: none;

            .project-card__title {
                letter-spacing: 0.125em;

                color: $c-yellow;
                transform: translate3d(0, 10px, 0);
            }

            .project-card__subtitle {
                letter-spacing: 0.125em;

                color: $c-orange-l1;
                transform: translate3d(0, 0, 0);
            }

            .project-card__frame { opacity: 0.25; }

            .project-card__info { background: $c-light-d2; }

            .project-card__icon-group { margin-top: 15px; }

            .project-card__icon {
                font-size: 28px;

                margin: 0 7px;

                color: $c-yellow;
                transform: translate3d(0, -5px, 0);
            }
        }

        &__capsule { height: 300px; }

        &__bg { height: 300px; }

        &__title { font-size: 52px; }

        &__icon { color: $c-gray-l1; }

        &__info { padding: 30px; }

        &__cover { padding: 50px; }
    }
}
