.textblock {
    font-family: $font-family-text;

    margin: 0 0 $gutter;

    color: $c-gray-d2;

    h1, h2 {
        font-size: $font-size-title-big;
        line-height: $lh-title;

        margin: 0 0 20px;

        color: $c-black;
    }

    h3, h4 {
        font-size: $font-size-title-medium;
        line-height: $lh-title;

        margin: 0;

        color: $c-yellow;
    }

    h5, h6 {
        font-size: $font-size-title-small;
        font-family: $font-family-text;
        font-weight: 600;
        line-height: $lh-title;

        margin: 0;

        color: $c-gray;
    }

    p, span {
        font-size: $font-size-text;
        font-weight: 300;
        line-height: $lh-text;

        margin: 0 0 20px;

        color: $c-black;

        br { line-height: $lh-text * 1.5; }
    }

    small {
        font-size: $font-size-legend;
        font-family: $font-family-text;
        line-height: $lh-legend;
        font-weight: 300;
    }

    a {
        font-size: $font-size-text;
        font-family: $font-family-text;
        font-weight: 300;

        color: $c-yellow;
        transition: color ease 0.25s;

        @include hoverActiveFocus { color: $c-yellow-d1; }
    }

    ul {
        font-size: $font-size-text;
        font-family: $font-family-text;
        font-weight: 300;
        line-height: $lh-text;
        font-style: italic;
        list-style-type: none;

        margin: 0 0 20px;
        padding-left: $em-space * 2;

        color: $c-black;
    }

    li:before {
        content: "•";

        margin: 0 $em-space 0 0;

        color: $c-yellow;
    }

    .dropcap {
        font-family: $font-family-heading;
        font-size: $font-size-dropcap;
        font-weight: 600;
        line-height: $lh-dropcap;

        display: inline;
        float: left;
        margin: 0 8px 0 0;
        padding: 8px 10px;

        color: $c-yellow;
        background: $c-yellow-l3;
        // border: 1px solid $c-gray-l2;
    }
}

@media (min-width: $media-query-tablet) {
  .textblock {
      margin: 0 0 $gutter * 2;
  }
}
