.textblock {
    font-family: $ff-text;

    margin: 0 0 $gutter;

    color: $c-gray-d2;

    h1, h2 {
        font-size: $fs-title-big;
        line-height: $lh-title-big;

        margin: 0 0 20px;

        color: $fc-title-big;
    }

    h3, h4 {
        font-size: $fs-title-medium;
        line-height: $lh-title-big;

        margin: 0;

        color: $fc-title-medium;
    }

    h5 {
        font-size: $fs-title-small;
        font-family: $ff-text;
        font-weight: $fw-bold;
        line-height: $lh-title-big;

        margin: 0;

        color: $fc-title-small;
    }

    h6 {
        font-size: $fs-title-smallest;
        font-family: $ff-text;
        font-weight: $fw-bold;
        line-height: $lh-title-big;

        margin: 0;

        color: $fc-title-small;
    }

    p, span {
        font-size: $fs-text-small;
        font-weight: $fw-light;
        line-height: $lh-text-small;

        margin: 0 0 20px;

        color: $fc-text;

        br { line-height: $lh-text * 1.5; }
    }

    small {
        font-size: $fs-small;
        font-family: $ff-text;
        line-height: $lh-small;
        font-weight: $fw-light;
    }

    a {
        font-size: $fs-text-small;
        font-family: $ff-text;
        font-weight: $fw-light;

        color: $fc-link;
        transition: color ease 0.25s;

        @include hoverActiveFocus { color: $fc-link-hover; }
    }

    ul {
        font-size: $fs-text-small;
        font-family: $ff-text;
        font-weight: $fw-light;
        line-height: $lh-text-small;
        font-style: italic;
        list-style-type: none;

        margin: 0 0 20px;
        padding-left: $em-space;

        color: $fc-text;
    }

    li:before {
        content: "•";

        margin: 0 $em-space 0 0;

        color: $fc-bullet;
    }

    .dropcap {
        font-family: $ff-heading;
        font-size: $fs-dropcap;
        font-weight: $fw-black;
        line-height: 46px;

        display: inline;
        float: left;
        margin: 0 8px 0 0;
        padding: 8px 10px;

        color: $fc-dropcap;
        border: $hr;
        transition: color ease 0.25s,
                    background ease 0.25s,
                    border ease 0.25s;
    }
}

@media (min-width: $media-query-tablet) {
  .textblock {
      margin: 0 0 $gutter * 2;

      p, span {
          font-size: $fs-text;
          line-height: $lh-text;

          br { line-height: $lh-text * 1.5; }
      }

      small {
          font-size: $fs-small;
          line-height: $lh-small;
      }

      a { font-size: $fs-text; }

      ul {
          font-size: $fs-text;
          line-height: $lh-text;
      }

      .dropcap {
        line-height: $lh-dropcap;

        &:hover {
          color: $c-white;
          background: $fc-dropcap;
          border: $hr-neg;
        }
      }
  }
}
