html {
    position: relative;
    min-height: 100%;

    * { box-sizing: border-box; }
}

.container-big { @extend .container; }

@media (min-width: $screen-sm-min) { .container-big { width: $container-sm + 100px; } }
@media (min-width: $screen-md-min) { .container-big { width: $container-md + 150px; } }
@media (min-width: $screen-lg-min) { .container-big { width: $container-lg + 200px; } }

.section {
    padding-top: 42px;
}

// brand related
// --------------------------------------------------
.aligner {
	text-align: center;

	display: block;
}

.project-cover {
    text-align: center;
    display: block;

    margin-bottom: 100px;
    height: 550px;

    overflow: hidden;

    img {
        width: auto;
        // min-height: 100%;
    }
}

.project-cover-info {
    position: absolute;
    width: 100%;
    margin-top: 100px;
}

.headline { font-size: 40px !important; }

.bar-separation {
    span {
        text-transform: uppercase;

        &:after {
            content: " / "
        }
        &:last-child {
            &:after {
                content: ""
            }
        }
    }

}

.blog-search {
    margin-top: 100px;
}


@media (min-width: $screen-tablet) {
    .project-cover { height: 782px; }

    .headline { font-size: 70px; }

    .project-cover-info { margin-top: 200px; }
}
