.img-full-width {
	width: 100%;

	img { width: 100%; }
}

.img-border {
	border: 5px solid $c-gray-l3;

	transition: ease 0.25s;

	&:hover { border-color: $c-gray-l2; }
}

.img-shadow {
	box-shadow: -5px 5px 0 $c-shadow-l2;
}