html {
    position: relative;
    min-height: 100%;

    * { box-sizing: border-box; }
}

body { font-kerning: normal; }

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-heading;
    font-weight: $fw-bold;
    text-transform: uppercase;
}

p, span, small { font-family: $ff-text; }

button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
    text-decoration: none;

    &:hover { text-decoration: none; }
}

::selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}

::-moz-selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}

.section {
  padding: $gutter 0 0;

  &--index,
  &--project,
  &.section-- { padding: 0; }
}

.general-img {
  display: block;
  max-width: 100%;
  margin: 0 0 30px;
}

.page-wrapper {
  min-height: 100%;

  &::after {
      content: "";

      display: block;
  }
}

@media (min-width: $media-query-tablet) {
  .section {
    padding: $gutter*2 0 0;

    &--index,
    &--project { padding: 0; }
  }

  .page-wrapper {
    &--project { padding: 0 !important; }
  }
}
