html {
    position: relative;
    min-height: 100%;

    * { box-sizing: border-box; }
}

// typography variables
// --------------------------------------------------

$em-space: $font-size-base;
$en-space: $em-space/2;

// general tag adjustments
// --------------------------------------------------

body { font-kerning: normal; }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none;

    &:hover { text-decoration: none; }
}

::selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}

::-moz-selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}

// text, lists & quotes
// --------------------------------------------------
.textblock {
    font-family: $font-family-text;

    margin: 0 0 50px;

    color: $c-gray-d2;

    h1, h2 {
        font-size: $font-size-title;
        line-height: $lh-title;

        margin: 0 0 20px;

        color: $c-black;
    }

    h3 {
        font-size: $font-size-title-medium;
        line-height: $lh-title;

        margin: 0;

        color: $c-yellow;
    }

    h4, h5, h6 {
        font-size: $font-size-title-small;
        font-family: $font-family-text;
        font-weight: 600;
        line-height: $lh-title;

        margin: 0;

        color: $c-gray;
    }

    p, span {
        font-size: $font-size-text;
        font-weight: 300;
        line-height: $lh-text;

        margin: 0 0 20px;

        color: $c-black;

        br { line-height: $lh-text * 1.5; }
    }

    small {
        font-size: $font-size-legend;
        font-family: $font-family-text;
        line-height: $lh-legend;
        font-weight: 300;
    }

    a {
        font-size: $font-size-text;
        font-family: $font-family-text;
        font-weight: 300;

        color: $c-yellow;
        transition: color ease 0.25s;

        @include hoverActiveFocus { color: $c-yellow-d1; }
    }

    ul {
        font-size: $font-size-text;
        font-family: $font-family-text;
        font-weight: 300;
        line-height: $lh-text;
        font-style: italic;
        list-style-type: none;

        margin: 0 0 20px;
        padding-left: $em-space * 2;

        color: $c-black;
    }

    li:before {
        content: "•";

        margin: 0 $em-space 0 0;

        color: $c-yellow;
    }


    .subtitle {
        font-weight: 400;
        text-indent: 0;

        margin: 10px 0;
    }

    .dropcap {
        font-family: $font-family-heading;
        font-size: $font-size-dropcap;
        font-weight: 600;
        line-height: $lh-dropcap;

        display: inline;
        float: left;
        margin: 0 8px 0 0;
        padding: 8px 10px;

        color: $c-yellow;
        background: $c-yellow-l3;
        // border: 1px solid $c-gray-l2;
    }

}


.first-p { text-indent: 0 !important; }

.quote-author {
    text-align: center;

    display: block;
}

.big-quote {
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    line-height: 1.125em;
    letter-spacing: -0.025em;

    margin: 100px 0;
    padding: 50px 0;

    background: $c-yellow-l3;

    p {
        display: inline-block;
        height: 100%;
        vertical-align: middle;

        color: $c-yellow;
    }

    &:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .quote-author {
        font-family: $font-family-heading;
        font-style: normal;
        font-size: 28px;
        letter-spacing: 0.025em;

        color: $c-yellow;
    }
}

// titles & subtitles
// --------------------------------------------------
.subtitle {
    font-family: $font-family-sans-serif;
    font-style: italic;
    text-transform: none;

    display: block;
    margin: 10px 0;

    color: $c-gray;
}

.headline {
    font-size: 70px;
    font-weight: 900;

    margin: 0 0 30px;

    color: $c-black;

    .subtitle {
        font-size: 28px;
        line-height: (28/20);

        margin-top: 0;
    }
}

.section-title {
    font-size: 42px;

    margin-bottom: 30px;
    padding-bottom: 10px;

    color: $c-black;
    border-bottom: 5px solid $c-yellow-l2;

    .subtitle {
        font-size: 21px;
        line-height: (21/20);
    }
}

.paragraph-title {
    font-size: 28px;

    margin-top: 30px;

    color: $c-gray-d2;

    &:first-child {  margin-top: 0; }

    .subtitle {
        font-size: 14px;
        line-height: (14/20);

        margin-bottom: 20px;
    }
}

.title {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.5px;

    color: $c-black;
}

.tech-specs {
    .title {
        font-size: 22px;

        margin: 0;
        letter-spacing: 1px;
    }
}

.project {
    .section-title {
        font-size: 18px;
        letter-spacing: 0.1em;

        color: $c-gray;

        border-bottom: 2px solid $c-orange-l2;
    }
}

.contact {
    text-align: center;

    a, p {
        font-size: 20px;

        color: $c-gray-d2;
    }

    .paragraph-title { color: $c-black; }
}
