---
layout: default
---

<section class="blog">
  <div class="page-wrapper">
    <div class="container">
      <!-- Blog Search -->
      <form class="blog-search">
        <div class="row">
          <div class="col-xs-9 col-lg-11">
            <input type="text" placeholder="{{ site.data.strings.[page.lang].search }}...">
          </div>
          <div class="col-xs-3 col-lg-1">
            <button class="icon icon-search"></button>
          </div>
        </div>
      </form>


      <!-- Blog List -->
      <ul class="post-stub-list list-unstyled">
        {% assign posts = site.posts | where:"lang", page.lang | where:"category", "blog" %}

        {% for post in posts %}
        <li>
          <a href="{{ post.url }}" class="post-stub">
            <div class="row">
              <div class="col-xs-12 col-sm-10 post-area row">
                <div class="col-xs-3 col-sm-2 thumb-content">
                  {{ post.thumb }}
                </div>
                <div class="col-xs-9 col-sm-10">
                  <h5 class="post-title">{{ post.title }}</h5>
                  <p class="post-subtitle">{{ post.subtitle }}</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-2 post-credits-content row">
                <div class="col-xs-offset-3 col-xs-9 col-sm-12 post-credits">
                  <h5>por</h5>
                  <span>{{ post.author }}</span>
                  <h5>data</h5>
                  <span>{{ post.date | date: "%d/%m/%Y" }}</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>

      <div class="aligner">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li><a href="/page{{ paginator.previous_page }}">&laquo;</a></li>
          {% endif %}
          <li><span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
          {% if paginator.next_page %}
          <li><a href="/page{{ paginator.next_page }}">&raquo;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
