<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body class="body">

    {% include header.html %}

    <div class="js-page-wrapper page-wrapper page-wrapper--{{ page.title | slugify }}">
      <section class="section section--{{ page.title | slugify }}">

      <div class="js-home-cover home-cover">

        <div class="home-cover__aligner">
          <h1 class="home-cover__title">{{ page.highlight }}</h1>
          <span class="home-cover__subtitle">{{ page.subtitle }}</span>
        </div>

        <div class="home-cover__image-clipper">
          <img class="home-cover__image" src="{{ site.imgurl }}/{{ page.bg-image }}" alt="">
        </div>
      </div>

      </section>
    </div>

    {% include footer.html %}
    {% include tail.html %}

  </body>

</html>
