---
layout: default
---

<section class="work">
  <div class="container">
    <!-- Projects list -->
    <ul class="card-list list-unstyled">
      {% assign posts = site.posts | where:"lang", page.lang | where:"category", "project" %}

      {% for post in posts %}
        <li>
          <a href="{{ post.url }}" title="" class="card">
            <div class="card-cover">
              <div class="card-info">
                <h2 class="card-title">{{ post.title }}</h2>
                <h3 class="card-subtitle">{{ post.subtitle }}</h3>
                <div class="card-icons">
                  {% for icon in post.icons %}

                  <span class="icon js-tooltip-icon icon--{{ post.icon }}" data-toggle="tooltip" data-placement="bottom" title="{{ post.icon }}"></span>

                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="card-bg">
              <span class="card-frame"></span>
              <img src="{{ post.image }}" alt="">
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
