.container,
.container-fluid {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: ($gutter)/2;
    padding-left: ($gutter)/2;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
    display: table;
    content: " ";
}

.container:after,
.container-fluid:after { clear: both; }

.row {
    margin-right: -($gutter)/2;
    margin-left: -($gutter)/2;

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after { clear: both; }

    * { box-sizing: border-box; }

    *:before,
    *:after { box-sizing: border-box; }
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding-right: ($gutter)/2;
    padding-left: ($gutter)/2;
}

@for $column from 1 through $columns {
    .#{"col-xs"}-#{$column} { width: (100% / $columns ) * $column; }
    .#{"col-sm"}-#{$column} { width: 100%; }
    .#{"col-md"}-#{$column} { width: 100%; }
    .#{"col-lg"}-#{$column} { width: 100%; }
}

@media all and (min-width: $media-query-mobile) {
    .container--small { width: $container-mobile - 100px; }

    .row--no-gutter {
        margin-right: 0;
        margin-left: 0;
    }

    .col--no-gutter {
        padding-right: 0;
        padding-left: 0;
    }

    @for $column from 1 through $columns {
        .#{"col-sm"}-#{$column} { width: (100% / $columns ) * $column; }
    }
}

@media all and (min-width: $media-query-tablet) {
    .container {
        width: $container-tablet;

        &--small { width: $container-tablet - 100px; }
    }

    @for $column from 1 through $columns {
        .#{"col-md"}-#{$column} { width: (100% / $columns ) * $column; }
    }
}

@media all and (min-width: $media-query-desktop) {
    .container {
        width: $container-desktop;

        &--small { width: $container-desktop - 100px; }
    }

    @for $column from 1 through $columns {
        .#{"col-lg"}-#{$column} { width: (100% / $columns ) * $column; }
    }
}
