// general tag adjustments
// --------------------------------------------------

html {
    position: relative;
    min-height: 100%;

    * { box-sizing: border-box; }
}

body { font-kerning: normal; }

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-heading;
    font-weight: $fw-bold;
    text-transform: uppercase;
}

p, span, small { font-family: $ff-text; }

button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
    text-decoration: none;

    &:hover { text-decoration: none; }
}

::selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}

::-moz-selection {
    color: $c-yellow;
    background: $c-yellow-l2;
}
