// contextual variables
// --------------------
$media-query-smartphones: 719px;
$media-query-tablet: 879px;
$media-query-desktop: 969px;

$container-smartphones: 720px;
$container-tablet: 880px;
$container-desktop: 970px;

$gutter: 30px;

$border-radius: 3px;

$z-front: 5;
$z-mid-front: 4;
$z-mid: 3;
$z-mid-back: 2;
$z-back: 1;
$z-back-negative: -1;

// animations
// ----------
$anim-bounce: cubic-bezier(0.800, -0.375, 0.275, 1.455);
