// Typography
// -------------------------

/* Roboto Condensed */

/* Icomoon */
@font-face {
    font-family: 'icomoon';
    src: url('../public/fonts/icomoon/icomoon.eot');
    src: url('../public/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/icomoon/icomoon.woff') format('woff'),
         url('../public/fonts/icomoon/icomoon.ttf') format('truetype'),
         url('../public/fonts/icomoon/icomoon.svg#openSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif:  'foco', Helvetica, Arial, "sans serif";
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-family-heading:     'effra', Helvetica, Arial, "sans serif";
$font-family-text:        $font-family-sans-serif;

$font-size-base: 14px;

$font-size-headline: 42px;
$font-size-title: 18px;
$font-size-subtitle: 16px;
$font-size-link: 14px;
$font-size-text: $font-size-base;
$font-size-table: 13px;
$font-size-sublink: 13px;
$font-size-legend: 13px;
$font-size-small: 9px;


$font-size-icon: 14px;
$font-size-icon-big: 24px;

$font-lh-headline: $font-size-headline * 1.4;
$font-lh-title: $font-size-title * 1.4;
$font-lh-subtitle: $font-size-subtitle * 1.4;
$font-lh-link: $font-size-link * 1.4;
$font-lh-text: $font-size-text * 1.4;
$font-lh-table: $font-size-table * 1.4;
$font-lh-sublink: $font-size-sublink * 1.4;
$font-lh-legend: $font-size-legend * 1.4;
$font-lh-small: $font-size-small * 1.4;


// Hr border color
$hr: 1px $c-orange solid;
$hr-neg: 1px $c-white solid;
$hr-dark: 1px $c-gray-l2 solid;


// typography variables
// --------------------------------------------------

$em-space: $font-size-base;
$en-space: $em-space/2;

// general tag adjustments
// --------------------------------------------------

body { font-kerning: normal; }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    font-weight: 600;
}

p, span, small { font-family: $font-family-text; }

button {
  border: none;
  box-shadow: none;
  outline: none;
}
