// Typography
// -------------------------

/* Roboto Condensed */

/* Icomoon */
@font-face {
    font-family: 'icomoon';
    src: url('../public/fonts/icomoon/icomoon.eot');
    src: url('../public/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/icomoon/icomoon.woff') format('woff'),
         url('../public/fonts/icomoon/icomoon.ttf') format('truetype'),
         url('../public/fonts/icomoon/icomoon.svg#openSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

$ff-heading:     'effra', Helvetica, Arial, "sans serif";
$ff-text:        'foco', Helvetica, Arial, "sans serif";
$ff-icon:        'icomoon';

// Font Size
// ---------
$fs-base: 20px;

$fs-headline: 42px;
$fs-title-big: 28px;
$fs-title-medium: 24px;
$fs-title-small: 20px;
$fs-subtitle: 22px;

$fs-dropcap: 36px;
$fs-text: 20px;
$fs-text-small: 16px;
$fs-small: 16px;

$fs-table: 14px;

$fs-icon: 18px;
$fs-icon-big: 24px;

// Line Height
// -----------
$lh-headline: $fs-headline * 1;
$lh-title-big: $fs-title-big * 1.4;
$lh-title-medium: $fs-title-medium * 1.4;
$lh-title-small: $fs-title-small * 1.1;
$lh-subtitle: $fs-subtitle * 1.4;

$lh-dropcap: $fs-dropcap;
$lh-text: $fs-text * 1.4;
$lh-text-small: $fs-text-small * 1.4;

$lh-table: $fs-table * 1.4;
$lh-small: $fs-small * 1.4;

// Font Weight
// -----------
$fw-black:     900;
$fw-bold:      600;
$fw-regular:   400;
$fw-light:     300;

// Font Color
// -----------
$fc-headline: 42px;
$fc-title-big:       $c-black;
$fc-title-medium:    $c-yellow;
$fc-title-small:     $c-gray;

$fc-text:            $c-black;
$fc-text-light:      $c-gray;
$fc-link:            $c-yellow;
$fc-link-hover:      $c-yellow-d1;

$fc-bullet:          $c-yellow;
$fc-dropcap:         $c-yellow;


// Spacing
// -------
$em-space: $fs-base;
$en-space: $em-space/2;


// HR border color
$hr: 1px $c-yellow-l1 solid;
$hr-neg: 1px $c-white solid;
$hr-dark: 1px $c-gray-l2 solid;
